.header {
  background-color: white;
  color: #fff;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 100%;
  padding: 54px 0px 54px 80px;
}
.logo {
  width: 40%;
  height: 3rem;
  max-width: 12rem;
  min-width: 8rem;
  background-image: url("/images/Logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.sigin-container {
  width: 15%;
  transition: 0.7s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.hambMenu {
  display: none;
}
.logout-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  margin-right: 32px;
  z-index: 6;
}
.logout-container h3 {
  color: black;
  margin-right: 4px;
  font-size: 14px;
}
.logout {
  height: 30px;
  width: 30px;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}
.signin-button {
  display: block;
  background-color: black;
  border: none;
  outline: none;
  color: white;
  transition: 0.5s;
  font-weight: 600;
  font-size: 1rem;
  line-height: 30px;
  padding: 5px 40px;
  text-transform: lowercase;
  opacity: 1;
  z-index: 3;
}

.container {
  padding: 0 70px;
  width: 100%;
}

/* BANNER SECTION */
.banner {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.banner h1 {
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: black;
}
.banner p {
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #4ac959;
}
.banner .text {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: black;
  margin: 40px 0 32px 0;
}
.banner button {
  background-color: #4ac959;
  border: none;
  border-radius: 10px;
  padding: 6px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: white;
  line-height: 29px;
  font-size: 18px;
  max-width: 300px;
}

/* TODO CONTAINER */

.todo-section {
  margin-top: 30px;
  width: 100vw;
  background-image: url("/images/BG.png");
  background-size: calc(100vw + 120px) 100%;
  background-repeat: no-repeat;
  background-attachment: local;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  transition: 0.5s;
}
.todo-section h2 {
  color: white;
  border-bottom: 1px solid #4ac959;
}
.todo-section p {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
  width: 50%;
  margin-top: 16px;
  line-height: 23px;
}

/* Things Section */
.things-section {
  margin: 40px 0;
  width: 100%;
  height: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-things {
  background-color: #4ac959;
  max-height: 500px;
  border-radius: 10px;
  width: 90%;
  padding: 16px;
}
.container-things h2 {
  color: white;
}
.card-container {
  margin-top: 24px;
  margin-bottom: 48px;
  height: 460px;
  width: 100%;
  position: relative;
  background-color: white;
  border-radius: 20px;
  max-width: 360px;
  filter: drop-shadow(8px 8px 24px rgba(12, 41, 208, 0.16));
}
.image-card {
  width: 100%;
  height: 200px;
  position: relative;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-bottom: 24px;
}
.image-card-item {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.logo-side {
  position: absolute;
  top: 170px;
  right: 16px;
}
.inner-card-container {
  padding: 0 32px;
}
.inner-card-container span {
  padding: 3px 12px;
  border: 1px solid #9499b3;
  border-radius: 16px;
  color: #9499b3;
}
.inner-card-container p {
  margin-top: 16px;
  color: #312f4f;
}
.inner-card-container button {
  outline: none;
  border: none;
  background-color: transparent;
  color: #4ac959;
  font-size: 1rem;
  font-weight: 700;
  position: absolute;
  bottom: 30px;
}

/* FORM STYLES */

.form-container {
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(6, 21, 43, 0.08);
  border-radius: 4px;
  width: 90%;
  margin: 40px auto;
  height: 700px;
  padding: 2rem;
  margin-top: 100px;
}
.form-container .double-inputs {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.form-container .double-inputs .input-double {
  width: 48%;
}
.form-container .form-title-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.form-container .form-title-content .box-green-form {
  margin: 4px 16px 0 0;
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 8px;
  background-color: #46bd62;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container .form-title-content h2 {
  margin: 0 0 30px 0;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  width: 100px;
  line-height: 30px;
}
.form-container .form-title-content h2 span {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}
.form-container label {
  display: flex;
  align-self: flex-start;
  margin-bottom: 4px;
}
.form-container input,
.form-container textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #333;
  border-radius: 5px;
  resize: none;
}
.form-container input::placeholder,
.form-container textarea::placeholder {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #9a9a9a;
}
.form-container input:focus {
  outline: none;
  border: 1px solid #4ac959;
}
.form-container textarea {
  height: 150px;
}
.form-container textarea:focus {
  outline: none;
  border: 1px solid #4ac959;
}

.form-container button[type="submit"] {
  background-color: #46bd62;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
  font-weight: 700;
  line-height: 19px;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  filter: drop-shadow(0px 16px 24px rgba(6, 21, 43, 0.12));
}

/* FOOTER STYLES */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.footer .inner-footer-container {
  position: absolute;
  z-index: 2;
  text-align: center;
}
.footer .inner-footer-container p {
  color: white;
  margin: 14px 0;
  font-size: 20px;
  font-family: 600;
}
.footer .inner-footer-container h5 {
  color: white;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  margin-top: 15px;
  font-size: 10px;
}
.footer .bg-footer {
  position: absolute;
  bottom: 0;
}

.register-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.register-modal .modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  width: 90%;
  z-index: 6;
}
.register-modal .modal-content h2 {
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.register-modal .modal-content h2 > p {
  color: #4ac959;
  font-size: 2rem;
  font-weight: 400;
}
.close-container {
  display: flex;
  justify-content: flex-end;
  width: 95%;
  margin: 0 auto;
  padding: 0 10px;
}
.close-modal {
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.form-modal {
  width: 100vw;
  border-radius: 4px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form-modal .label-modal {
  width: 100%;
  display: flex;
  align-self: flex-start;
  font-weight: 700;
}
.input-modal {
  width: 100%;
  min-width: 200px;
  padding: 0.5rem;
  border: 1px solid #959595;
  border-radius: 10px;
}
.input-container-modal {
  margin-top: 10px;
}
.form-modal input[type="submit"] {
  width: 100%;
  max-width: 170px;
  margin-top: 30px;
  background-color: #4ac959;
  outline: none;
  border: none;
  height: 32px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
}
.sigin-image {
  height: 231px;
  width: 231px;
}

/* TODO STYLES */
.todo-lists {
  margin: 40px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.todo-card {
  width: 70%;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(66, 66, 66, 0.198454);
  padding: 30px 16px;
  margin: 0 16px;
  position: relative;
  max-width: 350px;
}
.done-card {
  width: 70%;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(66, 66, 66, 0.198454);
  padding: 30px 16px;
  margin: 0 16px;
  position: relative;
  max-width: 350px;
}
.todo-top-banner,
.done-top-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
}
.todo-top-banner {
  background-color: #e88d39;
}
.done-top-banner {
  background-color: #4ac959;
}
.done-card h2,
.todo-card h2 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-top: 12px;
  text-align: center;
}
.done-card h3,
.todo-card h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 2px;
  text-align: center;
}
.done-card p {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 2px;
  text-align: center;
}
.dragall {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.dragtodo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 24px 0;
}
.checkbox {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #e88d39;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.checkbox-done {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: #4ac959;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.erase-all {
  background-color: black;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 18px;
  outline: none;
  border: none;
  color: white;
  width: 90%;
  padding: 8px 0;
  border-radius: 10px;
  position: absolute;
  bottom: 16px;
}
.drag-text {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  margin-left: 16px;
}
.picture-form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  position: relative;
}
.image-form {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  position: absolute;
}

@media screen and (max-width: 760px) {
  .header {
    background-color: white;
    color: #fff;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 100%;
    padding: 30px 0px 30px 30px;
  }
  .logo {
    width: 40%;
    height: 3rem;
    max-width: 12rem;
    min-width: 8rem;
    background-image: url("/images/Logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .sigin-container {
    width: 60%;
    transition: 0.7s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .hambMenu {
    height: 30px;
    width: 30px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 8px;
    padding: 2px;
    cursor: pointer;
    transition: 0.5s;
    display: block;
  }
  .logout-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    margin-right: 16px;
  }
  .logout-container h3 {
    color: black;
    margin-right: 4px;
    font-size: 14px;
  }
  .logout {
    height: 30px;
    width: 30px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
  }
  .signin-button {
    display: block;
    background-color: transparent;
    border: none;
    color: black;
    transition: 0.5s;
    font-weight: 600;
    font-size: 19px;
    line-height: 30px;
    padding: none;
    opacity: 0;
  }

  .container {
    padding: 0 16px;
    width: 100%;
  }

  /* BANNER SECTION */
  .banner {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
  .banner h1 {
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: black;
    text-align: center;
  }
  .banner p {
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #4ac959;
    text-align: center;
  }
  .banner .text {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin: 40px 0 32px 0;
    text-align: center;
  }
  .banner button {
    background-color: #4ac959;
    border: none;
    border-radius: 10px;
    padding: 6px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: white;
    line-height: 29px;
    font-size: 18px;
    width: 100%;
    max-width: none;
  }

  /* TODO CONTAINER */

  .todo-section {
    margin-top: 30px;
    width: 100vw;
    background-image: url("/images/BG.png");
    background-size: calc(100vw + 120px) 100%;
    background-repeat: no-repeat;
    background-attachment: local;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
  }
  .todo-section h2 {
    color: white;
    border-bottom: 1px solid #4ac959;
  }
  .todo-section p {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    width: 50%;
    margin-top: 16px;
    line-height: 23px;
  }

  /* Things Section */
  .things-section {
    margin: 40px 0;
    width: 100%;
    height: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-things {
    background-color: #4ac959;
    max-height: 500px;
    border-radius: 10px;
    width: 90%;
    padding: 16px;
  }
  .container-things h2 {
    color: white;
  }
  .card-container {
    margin-top: 24px;
    margin-bottom: 48px;
    height: 460px;
    width: 100%;
    position: relative;
    background-color: white;
    border-radius: 20px;
    max-width: 360px;
    filter: drop-shadow(8px 8px 24px rgba(12, 41, 208, 0.16));
  }
  .image-card {
    width: 100%;
    height: 200px;
    position: relative;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-bottom: 24px;
  }
  .image-card-item {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .logo-side {
    position: absolute;
    top: 170px;
    right: 16px;
  }
  .inner-card-container {
    padding: 0 32px;
  }
  .inner-card-container span {
    padding: 3px 12px;
    border: 1px solid #9499b3;
    border-radius: 16px;
    color: #9499b3;
  }
  .inner-card-container p {
    margin-top: 16px;
    color: #312f4f;
  }
  .inner-card-container button {
    outline: none;
    border: none;
    background-color: transparent;
    color: #4ac959;
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    bottom: 30px;
  }

  /* FORM STYLES */

  .form-container {
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(6, 21, 43, 0.08);
    border-radius: 4px;
    width: 90%;
    margin: 40px auto;
    height: 700px;
    padding: 2rem;
    margin-top: 100px;
  }
  .form-container .double-inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .form-container .double-inputs .input-double {
    width: 48%;
  }
  .form-container .form-title-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .form-container .form-title-content .box-green-form {
    margin: 4px 16px 0 0;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 8px;
    background-color: #46bd62;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-container .form-title-content h2 {
    margin: 0 0 30px 0;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    width: 100px;
    line-height: 30px;
  }
  .form-container .form-title-content h2 span {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
  }
  .form-container label {
    display: flex;
    align-self: flex-start;
    margin-bottom: 4px;
  }
  .form-container input,
  .form-container textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #333;
    border-radius: 5px;
    resize: none;
  }
  .form-container input::placeholder,
  .form-container textarea::placeholder {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #9a9a9a;
  }
  .form-container input:focus {
    outline: none;
    border: 1px solid #4ac959;
  }
  .form-container textarea {
    height: 150px;
  }
  .form-container textarea:focus {
    outline: none;
    border: 1px solid #4ac959;
  }

  .form-container button[type="submit"] {
    background-color: #46bd62;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    font-weight: 700;
    line-height: 19px;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    filter: drop-shadow(0px 16px 24px rgba(6, 21, 43, 0.12));
  }

  /* FOOTER STYLES */

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .footer .inner-footer-container {
    position: absolute;
    z-index: 2;
    text-align: center;
  }
  .footer .inner-footer-container p {
    color: white;
    margin: 14px 0;
    font-size: 20px;
    font-family: 600;
  }
  .footer .inner-footer-container h5 {
    color: white;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    margin-top: 15px;
    font-size: 10px;
  }
  .footer .bg-footer {
    position: absolute;
    bottom: 0;
  }

  .register-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .register-modal .modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 90%;
    z-index: 2;
  }
  .register-modal .modal-content h2 {
    font-family: Montserrat, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .register-modal .modal-content h2 > p {
    color: #4ac959;
    font-size: 2rem;
    font-weight: 400;
  }
  .close-container {
    display: flex;
    justify-content: flex-end;
    width: 95%;
    margin: 0 auto;
    padding: 0 10px;
  }
  .close-modal {
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #000;
  }
  .form-modal {
    width: 100vw;
    border-radius: 4px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .form-modal .label-modal {
    width: 100%;
    display: flex;
    align-self: flex-start;
    font-weight: 700;
  }
  .input-modal {
    width: 100%;
    min-width: 200px;
    padding: 0.5rem;
    border: 1px solid #959595;
    border-radius: 10px;
  }
  .input-container-modal {
    margin-top: 10px;
  }
  .form-modal input[type="submit"] {
    width: 100%;
    max-width: 170px;
    margin-top: 30px;
    background-color: #4ac959;
    outline: none;
    border: none;
    height: 32px;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
  }

  /* TODO STYLES */
  .todo-lists {
    margin: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .todo-card {
    width: 40%;
    background: #ffffff;
    box-shadow: 0px 4px 12px rgba(66, 66, 66, 0.198454);
    padding: 30px 16px;
    margin: 0 16px;
    position: relative;
    max-width: 280px;
  }
  .done-card {
    width: 40%;
    background: #ffffff;
    box-shadow: 0px 4px 12px rgba(66, 66, 66, 0.198454);
    padding: 30px 16px;
    margin: 0 16px;
    position: relative;
    max-width: 280px;
  }
  .todo-top-banner,
  .done-top-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
  }
  .todo-top-banner {
    background-color: #e88d39;
  }
  .done-top-banner {
    background-color: #4ac959;
  }
  .done-card h2,
  .todo-card h2 {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 12px;
    text-align: center;
  }
  .done-card h3,
  .todo-card h3 {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 2px;
    text-align: center;
  }
  .drag-text {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
  }
}

@media screen and (max-width: 455px) {
  .logo {
    height: 2.5rem;
  }
}

@media screen and (max-width: 425px) {
  .logo {
    height: 2.2rem;
  }
}

@media screen and (max-width: 392px) {
  .logo {
    height: 2rem;
  }
  .header {
    padding-right: 5px;
  }
  .container {
    padding: 0 8px;
    width: 100%;
  }
}
